.prelude {
    background-color: #d04e90;
}

.corporate-era {
    background-color: #c52b2f;
}

.giardiniere {
    background-color: green;
}

.pianificatore {
    background-color: lightblue;
}

.costruttore {
    background-color: brown;
}
.sindaco {
    background-color: grey;
}
.terraformatore {
    background-color: orange;
}

.proprietario-terriero {
    background-color: lightgreen;
}

.banchiere {
    background-color: yellow;
}

.scienziato {
    background-color: aquamarine;
}

.esperto-di-termodinamica {
    background-color: darkorange;
}

.minatore {
    background-color: darkgoldenrod;
}